In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
print(filename)

NameError: name 'filename' is not defined

In [3]:
import os
os.getcwd()

'c:\\Users\\jwaaa\\Downloads\\KFUPM-Grads-2010-2018'

In [13]:
path = r"C:/Users/jwaaa/Downloads/KFUPM-Grads-2010-2018/KFUPM_grads_2010_2018.csv"

with open(path, "rb") as f:
    raw = f.read(2000)

raw[:200]

b'degree,major,honour,id_year,graduated\n\xd8\xa8\xd9\x83\xd8\xa7\xd9\x84\xd9\x88\xd8\xb1\xd9\x8a\xd9\x88\xd8\xb3,\xd8\xa7\xd9\x84\xd9\x87\xd9\x86\xd8\xaf\xd8\xb3\xd8\xa9 \xd8\xa7\xd9\x84\xd9\x85\xd9\x8a\xd9\x83\xd8\xa7\xd9\x86\xd9\x8a\xd9\x83\xd9\x8a\xd8\xa9 \xd8\xa7\xd9\x84\xd8\xaa\xd8\xb7\xd8\xa8\xd9\x8a\xd9\x82\xd9\x8a\xd8\xa9,2,2014,2018\n\xd8\xa8\xd9\x83\xd8\xa7\xd9\x84\xd9\x88\xd8\xb1\xd9\x8a\xd9\x88\xd8\xb3,\xd8\xa7\xd9\x84\xd9\x87\xd9\x86\xd8\xaf\xd8\xb3\xd8\xa9 \xd8\xa7\xd9\x84\xd9\x85\xd8\xaf\xd9\x86\xd9\x8a\xd8\xa9 \xd8\xa7\xd9\x84\xd8\xaa\xd8\xb7\xd8\xa8\xd9\x8a\xd9\x82\xd9\x8a\xd8\xa9,-1,201'

In [ ]:
import pandas as pd

df = pd.read_csv("C:/Users/jwaaa/Downloads/KFUPM-Grads-2010-2018/KFUPM_grads_2010_2018.csv", encoding="utf-8")
df.head()
df

          degree                          major  honour  id_year  graduated
0      بكالوريوس  الهندسة الميكانيكية التطبيقية       2     2014       2018
1      بكالوريوس      الهندسة المدنية التطبيقية      -1     2013       2018
2      بكالوريوس                        العمارة      -1     2013       2018
3      بكالوريوس             الهندسة الكهربائية       2     2014       2018
4      بكالوريوس              الهندسة المعمارية       2     2014       2018
...          ...                            ...     ...      ...        ...
12617  بكالوريوس                        المالية       3     2005       2010
12618  بكالوريوس                الهندسة المدنية      -1     2005       2010
12619  بكالوريوس  الهندسة الميكانيكية التطبيقية      -1     2005       2010
12620    ماجستير             الهندسة الكهربائية      -1     1998       2010
12621  بكالوريوس                  هندسة البترول      -1     2005       2010

[12622 rows x 5 columns]

In [16]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12622 entries, 0 to 12621
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   degree     12622 non-null  object
 1   major      12622 non-null  object
 2   honour     12622 non-null  int64
 3   id_year    12622 non-null  int64
 4   graduated  12622 non-null  int64
dtypes: int64(3), object(2)
memory usage: 493.2+ KB

             honour       id_year     graduated
count  12622.000000  12622.000000  12622.000000
mean      -0.036365   2008.862225   2014.070987
std        1.540523      3.740825      2.471298
min       -1.000000   1973.000000   2010.000000
25%       -1.000000   2007.000000   2012.000000
50%       -1.000000   2009.000000   2014.000000
75%        2.000000   2011.000000   2016.000000
max        3.000000   2019.000000   2018.000000

In [17]:
y = df['honour']
X = df[['degree', 'major', 'id_year', 'graduated']]